<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Master Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="${pageContext.request.contextPath}/resources/css/common_theme.css">
</head>
<body>

<div class="jumbotron d-flex align-items-center">
    <div class="container-fluid">

        <form class="row justify-content-center" th:action="@{/admin/saveMaster}" th:method="post" th:object="${masterDto}">
            <div class="col-lg-6 offset-lg-3">
                <label for="masterFirstName">First Name:

                    <input id="masterFirstName" th:type="text" th:field="*{firstName}"/>

                </label><br>

                <label for="masterLastName">Last Name:
                    <input id="masterLastName" th:type="text" th:field="*{lastName}"/>
                </label><br>

                <label for="masterService">Service:
                    <select id="masterService" th:multiple="true" th:field="*{services}">
                        <option th:each="currentService: ${allServices}"
                                th:value="${currentService}"
                                th:text="${currentService}">Master Service</option>
                    </select>
                </label><br>

                <input type="submit" value="Save" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>
</body>
</html>
