<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="${pageContext.request.contextPath}/resources/css/common_theme.css">
</head>
<body>

<div class="jumbotron d-flex align-items-center">
<div class="container-fluid">

    <form class="row justify-content-center" th:action="@{/admin/saveService}" th:method="post" th:object="${serviceDto}">
        <div class="col-lg-6 offset-lg-3">
        <input type="hidden" value="${id}">
            <label for="serviceTitle">Service Title:

                <input id="serviceTitle" th:type="text" th:field="*{title}"/>

            </label><br>

            <label for="serviceDuration">Service Duration:
                <input id="serviceDuration" th:type="number" th:field="*{duration}"/>
            </label><br>

            <input type="submit" value="Save" class="btn btn-primary">
        </div>
            </form>
</div>
</div>
</body>
</html>
